body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

section {
    display: flex;
    padding-top: 0%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 2%;
}

.half-width {
    width: 50%;

}

.half-width img {
    padding-top: 55px;
    padding-left: 140px;
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner-2 {
   
    background-position: right;
    display: flex;
    margin-top: 100px;
    background-repeat: no-repeat;
    padding: 0%;

}
.top-banner-2 .dream-big-img{
    background-position: right;
    display: flex;
    margin-top: 60px;
    margin-bottom: 120px;
    background-repeat: no-repeat;
    padding: 0%;
}


.half-width-2 {
    width: 50%;
    padding-right: 40px;
}

.half-width-2 img {
    width: 60%;
    padding-top: 50px;
    padding-left: 100px;
}

.Link-button-2 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}