body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    padding-top: 0%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 2%;
    box-shadow: 2px 2px 30px orange;
}

.half-width {
    width: 50%;

}

.half-width img {
    padding-top: 55px;
    padding-left: 140px;
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner-2 {
   
    background-position: right;
    display: flex;
    margin-top: 50px;
    background-repeat: no-repeat;
    padding: 0%;

}
.top-banner-2 .dream-big-img{
    background-position: right;
    display: flex;
    margin-top: 60px;
    margin-bottom: 125px;
    background-repeat: no-repeat;
    padding: 0%;
    box-shadow: 70px 1px 20px 10px orange;
}


.half-width-2 {
    width: 50%;
    padding-right: 40px;
}

.half-width-2 img {
    width: 60%;
    padding-top: 35px;
    padding-left: 100px;
}

.Link-button-2 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.half-width-3{
    width: 50%;
    padding-right: 40px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    box-shadow: 2px 2px 30px orange;
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-bottom: 20px;
}
.experience-item{
    box-shadow: 10px 10px 15px orange;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 25px 10px 25px;
    margin-bottom: 10%;
    border-radius: 5px;
    
}
#full-stack-border{
  
    border-left : 3px solid rgba(255, 174, 0, 0.402);
}
#baby-stack-border{
    border-left : 3px solid rgb(255, 174, 0);
}
h2{
    font-size: 40px;
}
#xp-h1{
    text-align: center;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 0px;
    margin-left:40%;
    margin-right: 40%;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px orange;
}